@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  /* This makes scrolling feel "buttery" on mobile */
  -webkit-overflow-scrolling: touch;
}

/* Ensure inputs don't zoom in on iPhone */
input {
  font-size: 16px !important;
}